<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemonline</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
    <nav>
        {% include "navbar.jinja" %}
    </nav>
    <main>
    {% if current_user.is_authenticated %}
        <p>Logged in as {{ current_user.username }}</p>
    {% endif %}
    {% for message in get_flashed_messages() %}
        <p style="color: red;">{{ message }}</p>
    {% endfor %}
    {% block content %}
    
    {% endblock content %}
    </main>
</body>
</html>