{% if current_user.is_authenticated %}
<ul>
    <li><a href="{{ url_for('main.home') }}">Home</a></li>
    <li><a href="{{ url_for('auth.signout') }}">Sign Out</a></li>
    <li><a href="{{ url_for('user.profile') }}">My Profile</a> ({{ current_user.username }})</li>
</ul>
{% else %}
<ul>
    <li><a href="{{ url_for('main.home') }}">Home</a></li>
    <li><a href="{{ url_for('auth.signup') }}">Sign Up</a></li>
    <li><a href="{{ url_for('auth.signin') }}">Sign In</a></li>
</ul>
{% endif %}
